@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

.positionHeader {
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 1rem;
  opacity: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2563eb;
  margin-left: 2%;
}

.nav {
  display: flex;
  gap: 1.5rem;
  margin-right: 10%;
  align-items: center;
  position: relative;
}

.navRight {
  display: flex;
  gap: 1.5rem;
  margin-right: 4%;
  align-items: center;
  position: relative;
}

.navCenter {
  display: flex;
  gap: 1.5rem;
  margin: center;
  align-items: center;
  position: relative;
}

a.link {
  text-decoration: none;
  color: #ffff;
  list-style: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: color 0.5s ease;
  padding: 5px 10px;
  position: relative;
}

a.link:hover {
  color: #00aeff;
}

.link:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #00aeff;
  position: absolute;
  bottom: -4px;
  left: 15px;
}

/*______________________________________________css da logo______________________________________________*/

.logo img {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

/*______________________________________________css do responsivo______________________________________________*/
.menu-icon {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  opacity: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.mobile-item {
  padding: 10px;
  text-decoration: none;
  color: #374151;
  display: block;
}

.mobile-item:hover {
  color: #2563eb;
}

/*______________________________Manu lateral____________________*/

/* sidebar.css */
.navbar-container {
  position: relative;
}

/* Ícone do menu */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 6px;
  color: white;
}

.menu-icon:hover {
  color: #2563eb;
}

/* Menu */
.header .navMenu {
  position: fixed;
  top: 0;
  right: 0; /* Agora o menu aparece do lado direito */
  height: 100%;
  width: 380px;
  background-color: #002f69; /* bg-gray-800 */
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Escondido à direita */
  transition: transform 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

/* Menu aberto */
.header .navMenu.open {
  transform: translateX(0);
}

/* Cabeçalho do Menu */
.header .navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #374151; /* border-gray-700 */
  font-size: 13px;
  white-space: nowrap;
}

.header .fa-solid {
  font-size: 20px;
  cursor: pointer;
  gap: 16px;
}
/*________________________itens do menu______________________________*/

.navbar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  flex-direction: column;
  align-items: flex-start;
}

.nav-menu-icon {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: start;
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out;
  color: white;
  white-space: nowrap;
  gap: 10px;
  flex-direction: column;
  margin-left: 5%;
}

.nav-menu-icon i {
  font-size: 20px;
}

.nav-menu-icon:hover {
  transform: scale(1.2);
  color: #2563eb;
}
/*______________________________________________________________________*/

/* Responsivo */
@media (max-width: 768px) {
  .header .navCenter {
    display: none;
  }

  .header .navRight {
    display: block;
  }
}
